@mixin flex($direction, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
}

@mixin homeBtn {
  border: $btnBorder;
  padding: $btnPadding;
  font-size: $btnTextSize;
  font-weight: $boldText;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: #fff;
    transition: 0.2s ease-in-out;
  }
}

// Sass settings for the Home page buttons, header text size, description text size etc ...
$headerTextSize: calc(16px + 1.4vw);
$descriptionTextSize: calc(14px + 0.4vw);
$btnTextSize: calc(12px + 0.5vw);
$btnBorder: 3px solid black;
$btnPadding: 10px 30px;
$boldText: 600;
$thinText: 500;

// Media Queries 
@mixin mediaDesktop {
  @media (min-width: 1281px) {
    @content;
  }
}

@mixin mediaLaptops {
  @media (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

@mixin mediaTabletsIpads {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mediaTabletsIpadsLandscape {
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

@mixin mediaMobilesTablets {
  @media (min-width: 481px) and (max-width: 767px) {
    @content;
  }
}

@mixin mediaSmartphones {
  @media (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

@mixin mediaSmartphones320px {
  @media (min-width: 320px) and (max-width: 321px) {
    @content;
  }
}

@mixin mediaSmallSmartphones {
  @media (min-width: 280px) and (max-width: 319px) {
    @content;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translatey(0);
  }
}