.about {
margin: 100px auto 100px auto;
display: flex;
}
.about-text-block {
display: flex;
flex-direction: column;
flex-basis: 50%;
margin: auto 0;
}
.about-text{
font-size: calc(16px + 1.6vw);
font-weight: 600;
margin: 30px auto 20px auto;
}
.about-text-description {
font-size: calc(14px + 0.5vw);
font-weight: 500;
margin: 10px auto 30px auto;
}
.about-button {
margin: 0 auto;
padding: 10px 30px;
border: 3px solid #000000;
font-size: calc(12px+0.2vw);
font-weight: 600;
cursor: pointer;
}
.about-img img {
  width: 1300px;
  min-width: 360px;
  max-width: 100%;
  transition: 0.2s ease-in-out;
}