@import './sassSettings';

.greetings {
  margin: 0 0 0px 0;
  @include flex(column, none);

  a {
    text-decoration: none;
    color: inherit;
    text-align: center;
  }

  .programari {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;

    h3 {
      font-size: $headerTextSize;
      text-align: center;
      margin-bottom: 0;
    }

    .staff-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10px;

      .group {
        display: flex;

        @media (max-width: 400px) {
          flex-direction: column;
        }

        .staff-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 10px;

          &>* {
            align-self: center;
          }

          p {
            max-width: 250px;
            width: 100%;
            font-size: $descriptionTextSize;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.greetings-background img {
  @include flex(none, center);
  width: 100%;
  height: auto;
}

.greetings-hello {
  margin: 40px auto 20px auto;
  font-weight: $boldText;
  font-size: $headerTextSize
}

.greetings-underline-text {
  margin: 0 auto 2px auto;
  font-size: $descriptionTextSize;
  font-weight: $boldText;
  text-decoration: underline;
  cursor: pointer;
}

.greetings-text {
  margin: 0 10px 20px 10px;
  text-align: center;
  font-size: $descriptionTextSize;
}

.button-section {
  @include flex(row, center);

  @include mediaSmartphones() {
    flex-direction: column-reverse;
  }

  @include mediaSmallSmartphones() {
    flex-direction: column-reverse;
  }

  transition: 0.2s ease-in-out;
}

.greetings-button {
  @include homeBtn();
  margin: 0 auto 20px auto;

  img {
    width: calc(12px + 0.2vw);
  }
}

.greetings-button-red {
  @include homeBtn();

  border-color: #f60000;
  color: #f60000;

  @include mediaSmartphones() {
    // margin: 0 auto 20px auto;
    // margin: 0 auto 20px 10px;
  }

  @include mediaSmallSmartphones() {
    // margin: 0 auto 20px auto;
  }

  &:hover {
    background-color: #f60000;
  }
}