.service-price {
display: flex;
}
.service-price-img-block{
display: flex;
flex-direction: column;
flex-basis: 40%;
justify-content: center;
}
.service-price-img {
display: flex;
justify-content: center;
margin: 0 0 0 10px;
}
.service-price-img img {
width: 450px;
min-width: 250px;
max-width: 100%;
margin: 0 10px 10px 0px ;
}
.service-price-text-block {
flex-basis: 60%;
margin: auto 0;
}
.service-price-title {
font-size: calc(16px + 1.5vw);
font-weight: 600;
margin: 20px 30px 10px 30px;
}
.service-price-description {
font-size: calc(14px + 0.5vw);
font-weight: 500;
margin: 20px 30px 10px 30px;
}
.service-button {
margin: 20px auto 0 auto;
white-space: nowrap;
padding: 10px 30px;
border: 3px solid #000000;
font-size: calc(22px+0.2vw);
font-weight: 600;
cursor: pointer;
width: 100px;
}
.service-stick {
font-size: calc(14px + 0.5vw);
}