@import './Home/sassSettings';

.about-card {
  display: flex;
  flex-direction: row;
  margin: 0 auto 200px auto;
  @include mediaTabletsIpads {
    flex-direction: column;
    margin: 0 auto 100px auto;
  }
  @include mediaMobilesTablets {
    flex-direction: column;
    margin: 0 auto 100px auto;
  }
  @include mediaSmartphones {
    flex-direction: column;
    margin: 0 auto 100px auto;
  }
  @include mediaSmallSmartphones {
    flex-direction: column;
    margin: 0 auto 100px auto;
  }
}
.about-card.reverse {
  display: flex;
  flex-direction: row-reverse;
  @include mediaTabletsIpads {
    flex-direction: column;
    margin: 0 auto 200px auto;
  }
  @include mediaMobilesTablets {
    flex-direction: column;
    margin: 0 auto 200px auto;
  }
  @include mediaSmartphones {
    flex-direction: column;
    margin: 0 auto 200px auto;
  }
  @include mediaSmallSmartphones {
    flex-direction: column;
    margin: 0 auto 200px auto;
  }
}
.description-text-block {
  margin: auto 30px;
  flex-basis: 50%;
}
.description-header {
  text-align: center;
  font-size: $headerTextSize;
  font-weight: 600;
  margin: 0 10px 20px 10px;
}
.about-description {
  text-align: center;
  font-size: $descriptionTextSize;
  @include mediaTabletsIpads {
    margin: 0 30px 30px 30px;
  }
  @include mediaMobilesTablets {
    margin: 0 10px 20px 10px;
  }
  @include mediaSmartphones {
    margin: 0 10px 20px 10px;
  }
  @include mediaSmallSmartphones {
    margin: 0 10px 20px 10px;
  }
  .about-description-social {
    margin: 10px 0 0 0;
    font-weight: 600;
    .description-social-ig {
      width: 20px;
      margin: 0 10px;
      transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.17);
    }
   }
    .description-social-fb {
      width: 11px;
    &:hover {
      transform: scale(1.17);
    }
   }
  }
}
.description-img {
  flex-basis: 60%;
  margin: auto;
  text-align: center;
  img {
    min-width: 270px;
    max-width: 100%;
    transition: 0.2s ease-in-out;
  }
}