@import './Home/sassSettings';

.description {
  @include flexColumn();
  padding-top: 100px;
}

.description-text {
  display: flex;
  margin: 0 auto 100px auto;
  font-size: $headerTextSize;
  font-weight: 600;
}

.description-block-one {
  @include flex(row, none);
}

.block-one-header {
  text-align: center;
  font-size: $headerTextSize;
}

.redirect-block {
  margin: 0px 10px 250px 10px;
  text-align: center;

  .programari {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 0 0;

    h3 {
      font-size: $headerTextSize;
      text-align: center;
      margin-bottom: 0;
    }

    .staff-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10px;

      .group {
        display: flex;

        @media (max-width: 400px) {
          flex-direction: column;
        }

        .staff-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 10px;

          &>* {
            align-self: center;
          }

          p {
            max-width: 250px;
            width: 100%;
            font-size: $descriptionTextSize;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.redirect-header {
  font-size: $headerTextSize;
  font-weight: 600;
  margin: 0 auto 20px auto;
}

.redirect-content {
  font-size: calc(16px + 1vw);
  margin: 0 auto 20px auto;
}

.redirect-button-block {
  // display: flex;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.redirect-button {
  @include homeBtn;
  margin: 0 5px 20px 5px;
}

.redirect-button-red {
  @include homeBtn;
  margin: 0 5px 20px 5px;
  border-color: #f60000;
  color: #f60000;

  &:hover {
    background-color: #f60000;
  }
}

.redirect-description {
  font-size: calc(14px + 1vw);
}

.greetings-button-red {
  @include homeBtn();

  border-color: #f60000;
  color: #f60000;

  @include mediaSmartphones() {
    // margin: 0 auto 20px auto;
    // margin: 0 auto 20px 10px;
  }

  @include mediaSmallSmartphones() {
    // margin: 0 auto 20px auto;
  }

  &:hover {
    background-color: #f60000;
  }
}