@import './Home/sassSettings';

.career {
  @include flex(column, center);
  padding-top: 100px;
  text-align: center;

  .career-header {
    font-size: $headerTextSize;
    font-weight: $boldText;
    margin: 0 0 100px 0;
  }

  .career-block {
    display: flex;
    margin: 0 0 150px 0;

    @include mediaMobilesTablets {
      flex-direction: column;
    }

    @include mediaSmartphones {
      flex-direction: column;
    }

    @include mediaSmallSmartphones {
      flex-direction: column;

    }

    .career-description {
      text-align: center;
      font-size: $descriptionTextSize;
      margin: auto;
      flex-basis: 50%;
      margin: auto 10px;

      @include mediaMobilesTablets {
        margin: 0 0 30px 0;
      }

      @include mediaSmartphones {
        margin: 0 0 30px 0;
      }

      @include mediaSmallSmartphones {
        margin: 0 0 30px 0;

      }
    }

    .career-img {
      flex-basis: 50%;
      margin: auto;
      text-align: center;
      ;

      img {
        display: flex;
        width: 100%;
      }
    }
  }
}