.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #fff;
  height: 450px;
}
.footer-row {
  margin: auto 30px;
}
.footer-column {
  margin: 0 10px 20px 0;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  font-size: calc(18px + 0.2px);
}
.footer-column-holiday {
  display: flex;
}
.footer-column-close {
  margin: 0 0 0 70px;
}
.footer-column-tel {
  margin: 0 10px 20px 0;
  text-align: left;
  a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
  }
}
.footer-column-social {
  display: flex;
}
.footer-column-fb img {
  width: 10px;
  margin: 0 10px;
}
.footer-column-ig img {
  width: 20px;
}