@import './Home/sassSettings';
.menu-net {
  position: absolute;
}
.menu {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 35px;
  transform: translate(55%, -40%);
  @include mediaSmallSmartphones {
      transform: translate(20%, -25%);
  }
}
.menu-stick {
  position: absolute;
  right: -1%;
  width: 25px;
  height: 5px;
  background-color: black;
  transition: 0.2s ease-in-out;
}

.menu-stick::before {
  width: 50px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 15px;
  left: -25px;
  content: '';
  transition: 0.2s ease-in-out;
}

.menu-stick::after {
  width: 25px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 30px;
  left: -25px;
  content: '';
  transition: 0.2s ease-in-out;
}

.menu-stick.trigger {
  transform: translateY(7px) translateX(-3px) rotate(-45deg) scaleX(1);
  transition: 0.2s ease-in-out;

  &::before {
    transform: translateY(-16px) translateX(1px) rotate(90deg) scaleX(1);
    transition: 0.2s ease-in-out;
  }

  &::after {
    transform: translateY(-30px) translateX(1px) rotate(0deg) scaleX(1);
    transition: 0.2s ease-in-out;
  }

}