.menu {
  margin: 30px 30px 30px 30px;
  display: flex;
  width: 40px;
  height: 26px;
  cursor: pointer;
}
.menu-stick {
  width: 20px;
  height: 4px;
  margin-left: 20px;
  background-color: #000000;
  &::before {
    width: 40px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    top: 28.5px;
    left: 0;
    content: '';
    margin: 30px 30px;
  }
  &::after {
    width: 20px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    top: 39px;
    left: 0;
    content: '';
    margin: 30px 30px;
  }
}