@import './Home/sassSettings';

.nav-modal {
  background-color: #fcfdfdc4;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateY(100%);
  transition: all 0.3s ease-out;
}
.nav-modal.open {
  transform: translateY(0);
}
.nav-modal-menu {
  padding: 150px 0;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    font-size: calc(16px + 1.4vw);
    white-space: normal;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    @include mediaSmartphones {
      font-size: calc(16px + 1.3vw);
    }
    @include mediaSmallSmartphones {
      font-size: calc(12px + 1.3vw);
    }
  a {
    text-decoration: none;
    color: inherit;
 }
 &:hover{
    transition: 0.1s ease-in-out;
    color: rgb(141, 141, 141) ;
 }
}
}
