@import './Home/sassSettings';

.nav-modal {
  background-color: #fcfdfdc4;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateY(100%);
  transition: all 0.3s ease-out;
}
.nav-modal.open {
  transform: translateY(0);
}
.nav-modal-menu {
  padding: 150px 0;
  li {
    list-style: none;
    font-size: $headerTextSize;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
  a {
    text-decoration: none;
    color: inherit;
 }
 &:hover{
    transition: 0.1s ease-in-out;
    color: rgb(141, 141, 141) ;
 }
}
}
